/* You can add global styles to this file, and also import other style files */
div.row {
    border: 1px solid;
    border-radius: 15px;
    border-color: darkgrey;
    padding: 20px;
    margin: 5px;
}
